/* Basic Page Setup */
html,
body {
	height: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Inter,
		"Helvetica Neue", Arial, sans-serif;
}

body input {
	padding: 0.6rem;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 0.8rem;
	font-family: inherit;
}

/* Button Container Styles */
.button-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.button-container button {
	background-color: #ffffff;
	color: rgb(0, 0, 0);
	border: none;
	padding: 10px 15px;
	border-radius: 5px;
	font-weight: 500;
	cursor: pointer;
	transition: all 0.3s ease;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	margin: 0 5px;
}

/* Button States */
.button-container button:hover {
	background-color: hsl(258, 10%, 80%);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.button-container button:active {
	background-color: #baafff;
}

.button-container button.active {
	background-color: #7057ff;
	box-shadow: 0 0 15px rgba(14, 37, 241, 0.5);
	border: none;
	color: white;
	font-weight: 600;
}

/* Input Container Layout */
.input-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	font-size: 1rem;
	margin: 0.5rem 0rem 0.5rem 0rem;
}

.input-container p,
.select-container p {
	margin-bottom: 0.3rem;
}

/* Main Container Styles */
.main-parent-div {
	height: 40rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
	background-color: white;
	border-radius: 12px;
	border: none;
	padding: 2rem;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Specific Button Container Variants */
.button-container.gender-button {
	height: 2rem;
	width: auto;
}

.select-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.output-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.3rem;
	height: 10rem;
}

@media (max-width: 768px) {
	.main-parent-div h1 {
		font-size: 1rem;
		white-space: nowrap;
		margin-top: 10vh;
		margin-bottom: 3rem;
	}
	.main-parent-div {
		width: 100vw;
		height: 100vh;
	}
	.input-container {
		font-size: 1.1rem;
	}
	body {
		overflow: hidden;
	}
	input[type="number"] {
		font-size: 16px;
	}
}
